<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo_test.dao.EmployeeDao">
    <resultMap id="BaseResultMap" type="com.example.demo_test.pojo.Employee">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="age" property="age" />
        <result column="company" property="company" />
    </resultMap>

    <sql id="Base_List_Column">
        id,name,phone,email,age,company
    </sql>

    <select id="selectAllEmployee" resultMap="BaseResultMap">
        SELECT <include refid="Base_List_Column" />
        FROM employee
    </select>

    <insert id="insertEmployee">
        INSERT INTO employee(name,phone,email,age,company) values (#{name},#{phone},#{email},#{age},#{company})
    </insert>

    <select id="selectEmployeeById" resultMap="BaseResultMap">
        SELECT <include refid="Base_List_Column" />
        FROM employee
        WHERE id=#{id}
    </select>

    <delete id="deleteEmployeeById">
        DELETE FROM employee WHERE id = #{id}
    </delete>



    <update id="updateEmployee">
        UPDATE employee
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="age != null">
                age = #{age},
            </if>

            <if test="company != null">
                company = #{company},
            </if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>